[submodule "idr0000-lastname-example"]
	path = idr0000-lastname-example
	url = git://github.com/IDR/idr0000-lastname-example
	branch = master
[submodule "idr0040-aymoz-singlecell"]
	path = idr0040-aymoz-singlecell
	url = git://github.com/IDR/idr0040-aymoz-singlecell
[submodule "idr0041-cai-mitoticatlas"]
	path = idr0041-cai-mitoticatlas
	url = git://github.com/IDR/idr0041-cai-mitoticatlas
[submodule "idr0042-nirschl-wsideeplearning"]
	path = idr0042-nirschl-wsideeplearning
	url = git://github.com/IDR/idr0042-nirschl-wsideeplearning
[submodule "idr0021-lawo-pericentriolarmaterial"]
	path = idr0021-lawo-pericentriolarmaterial
	url = git://github.com/IDR/idr0021-lawo-pericentriolarmaterial
[submodule "idr0008-rohn-actinome"]
	path = idr0008-rohn-actinome
	url = git://github.com/IDR/idr0008-rohn-actinome
[submodule "idr0045-reichmann-zygotespindle"]
	path = idr0045-reichmann-zygotespindle
	url = git://github.com/IDR/idr0045-reichmann-zygotespindle
[submodule "idr0043-uhlen-humanproteinatlas"]
	path = idr0043-uhlen-humanproteinatlas
	url = git://github.com/IDR/idr0043-uhlen-humanproteinatlas
