[submodule "idr0000-lastname-example"]
	path = idr0000-lastname-example
	url = git://github.com/IDR/idr0000-lastname-example
	branch = master
[submodule "idr0041-cai-mitoticatlas"]
	path = idr0041-cai-mitoticatlas
	url = git://github.com/IDR/idr0041-cai-mitoticatlas
[submodule "idr0042-nirschl-wsideeplearning"]
	path = idr0042-nirschl-wsideeplearning
	url = git://github.com/IDR/idr0042-nirschl-wsideeplearning
