extends: default

rules:
  line-length:
    max: 200
    level: warning

  # Rules that should initially be re-enabled
  comments-indentation: disable
  comments: disable
  indentation: disable
  truthy: disable
