---
extends: default

rules:
  line-length:
    max: 120
    level: error

  # Rules that may eventually be re-enabled
  comments-indentation: disable
  comments: disable
  indentation: disable  # (1000+ errors)
  truthy: disable  # (2000+ warnings)
